<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form form-group">
          <label for="name">Name</label>
          <input type="text" id="name" class="form-control" #nameInput />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            [(ngModel)]="numberI"
            id="amount"
            name="amount"
            class="form-control"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            style="margin-right: 0.8rem"
            (click)="addToIngredientList()"
          >
            Add
          </button>
          <button
            class="btn btn-danger"
            type="button"
            style="margin-right: 0.8rem"
          >
            Delete
          </button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
